<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CannApp-Users</title>

</head>
<body>
    <h1>CanApp List</h1>
    <h4>1: Donation, 2: Brushing, 3: Tooth Brushing, 4: Nail Cutting, 5: Medical Service, 6: Veterinary Service </h4>
    <br>
    <ul>
        {% for user in users %}
            <p>Id: {{ user.id }}</p>
            <p>Name: {{ user.name }}</p>
            <p>Lastname: {{ user.lastName }}</p>
            <p>Phone: {{ user.phone }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Service: {{ user.servicio }}</p>
            <br>
        {% endfor %}
    </ul>
</body>
</html> -->
<!DOCTYPE html>
<html>
<title>CannApp-Users</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.ecestaticos.com/image/clipping/7a6b6e93f92f61a94fd9d269e8ffd237/tu-perro-es-un-privilegiado-el-70-de-sus-congeneres-vive-en-la-calle.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    CanApp
  </div>
  <div class="w3-display-top">
    <h1 class="w3-jumbo w3-animate-top" style="text-align: center">CanApp List</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
  <!--<p class="w3-large w3-center">1: Donation, 2: Brushing, 3: Tooth Brushing, 4: Nail Cutting, 5: Medical Service, 6: Veterinary Service </p>-->
    <p class="w3-large w3-center">Users List on the Database</p>
  </div>
    <section>
        <br>
        <ul>
            {% for user in users %}
                <h3><li>Id: {{ user.id }}</li></h3>
                <h4>Name: {{ user.name }}</h4>
                <h4>Lastname: {{ user.lastName }}</h4>
                <h4>Phone: {{ user.phone }}</h4>
                <h4>Email: {{ user.email }}</h4>
                <br>
            {% endfor %}
        </ul>
    </section>

  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="/index" target="_blank">CanApp</a>
  </div>

</div>

</body>
</html>